argparse
torch
torchaudio
pandas
protobuf
numpy
onnxruntime-gpu==1.12.1
super-gradients==3.1.1
torch
pillow
gradio
dxcam
omegaconf
pywin32
pytesseract
pillow
simpleaudio
pynput
colorama
pywin32
pytesseract
pillow
simpleaudio
pynput